body{
	background: white;
	margin: 0 auto;
	padding: 0px; 
	outline: none;
	border: 0px;
}

.align-center {
  display: block;
  margin: 1em auto;
}

.cover{
	background: url(images/header.jpg) no-repeat;
	background-size: cover;
	height: 662px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1350px;
	margin: 0 auto;
	padding: 0px; 
	outline: none;
	border: 0px;
}

h1{
	color: teal;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	line-height: 1;
	margin-bottom: 0;
	text-align: center;
}

h3{
	color: teal;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: center;
	margin-top: .3em;

}

hr{
	border: .5px solid teal;
}

h4{
	
}

header{
	margin: 0 auto;
	width:52%;
	max-width: 1080px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
}

a {
	color: teal;
	text-decoration:none;
}

a:hover {
	color: teal;
}

.sticky {
	position:fixed;
	top:0;
	background: teal;
	width:100%;
}


nav ul {
	padding:0;
	list-style:none;
	display: flex;
}

nav ul li {
	margin-right: .5em;	
}

nav ul li a {
	padding: .5em 1em;
	background:#cccccc;
	border-radius: 10px;
	transition: .7s;
}

nav ul li a:hover {
	background: white;
	border-radius: 10px 0px;
	font-family: 'Open Sans', sans-serif;
}

p{
	font-family: 'Open Sans', sans-serif;
	color: #707070;
	line-height: 1.5em;
}

.name{
	color:teal;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	text-align: left;
	margin-top: .3em;
}

.contentbox{
	margin: 0 auto;
	padding: 95px; 
	width: 70%;
	max-width: 1800px;
}

.align-left{
	float: left;
  	margin: 1em 1em 1em 0;
}

footer{
	background-color: darkgrey;
	height:160px;
	max-width: 1800px;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	text-align: center;
	color: teal;
}

.contact-deets{
	font-size: 16px;
	color:teal;
}

.contact{
	color:teal;
}